* {
    margin: 0;
    padding: 0;
}
body {
    background: black
}
.titulo-index {
    color: blueviolet;
    text-align: center;
}
.cervezas {
    margin-top: 50px;
    color: blueviolet;
    text-align: center;
}
footer {
    margin-top: 60px;
    color: white;
}
.footer-1 {
    text-align: center;
}
.footer-2 {
    margin-top: 40px;
    text-align: center;
}
.formulario {
    color: blueviolet;
}
.titulo-contacto {
    text-align: center;
    color: white;
}
.casillero-form {
    width: 100%;
    margin-top: 40px;
}
.formulario {
    border: none;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events {
    color: white;
    text-align: center;
}
.titulo-lugares {
    text-align: center;
    color: white;
}
.mapa {
    text-align: center;
    margin-top: 60px;
    color: white;
    background-color: grey;
}
.merch {
    color: white;
    text-align: center;
}